<!DOCTYPE html>
<html>
<head>
  <title>Add New Book</title>
</head>
<body>
  <h1>Add New Book</h1>

  <%= form_with model: @book do |form| %>
    <% if @book.errors.any? %>
      <div style="color: red; margin-bottom: 15px;">
        <h3><%= pluralize(@book.errors.count, "error") %> This book can not be saved:</h3>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <div style="margin-bottom: 15px;">
      <%= form.label :title, "Book Title:" %>
      <br>
      <%= form.text_field :title, style: "width: 300px; padding: 5px;" %>
    </div>


    <div style="margin-bottom: 15px;">
      <%= form.label :author, "Author:" %>
      <br>
      <%= form.text_field :author, style: "width: 300px; padding: 5px;" %>
    </div>


    <div style="margin-bottom: 15px;">
      <%= form.label :price, "Price:" %>
      <br>
      <%= form.text_field :price, step: 0.01, min: 0, style: "width: 300px; padding: 5px;" %>
    </div>


    <div style="margin-bottom: 15px;">
      <%= form.label :published_date, "Published Date:" %>
      <br>
      <%= form.date_select :published_date,
          { start_year: 1900, end_year: Date.today.year, order: [:month, :day, :year] },
          style: "padding: 5px;" %>
    </div>


    <div>
      <%= form.submit "Create Book", style: "padding: 10px 20px; background-color: #28a745; color: white; border: none; cursor: pointer;" %>
    </div>
  <% end %>


  <br>
  <%= link_to "Back to Home Page", root_path %>
</body>
</html>
